.form-wrapper {
  background-color: #e3fcbf;
  width: 75%;
  padding: 2rem;
  border-radius: 14px;
}

.form-wrapper > form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 0.8rem;
}

.form-wrapper > form > button {
  margin-top: 0.4rem;
}

.error-msg {
  color: #dc3545;
  text-align: center;
  margin-bottom: 0.2rem;
  font-weight: 600;
}

.register-payment > .form-group,
.register-payment > .btn-submit-price {
  display: none;
}

.register-payment > .form-group.active {
  display: block;
}

.register-payment > .btn-submit-price.active {
  display: inline-block;
}
