.user-info,
.chat-group,
.video-group,
.transaction-info {
  border: 5px solid #14c38e;
  border-radius: 14px;
  padding: 4rem;
  display: flex;
  flex-direction: row;
}

.user-info > img {
  border: 5px solid #00ffab;
  padding: 0.5rem 0.5rem 0rem 0.5rem;
  border-radius: 999px;
}

.user-info-list {
  padding: 0 5rem;
}

.user-info-list > .row > div > input {
  text-align: right;
}

.thumb-icon > svg:hover {
  cursor: pointer;
}

.confirmation-msg {
  display: none;
  margin-top: 1rem;
}

.confirmation-msg.active {
  display: block;
}

.chat-group,
.video-group,
.transaction-info {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

.chat-item {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

.chat-view {
  height: 30rem;
  padding: 2rem;
  border: 3px solid #b8f1b0;
  overflow-y: scroll;
}

.chat-content {
  width: fit-content;
  padding: 0.5rem;
}

.choice-item {
  font-size: 1.5rem;
}

.choice-item a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.table-wrapper {
  overflow: auto;
  max-height: 30rem;
}

.table-wrapper thead th {
  position: sticky;
  top: 0;
  z-index: 1;
}
